{% extends "base.html" %} 
{% load cms_tags sekizai_tags %} 
{% block title %} 
{% page_attribute "page_title" %} 
{% endblock title %} 
{% block content %}
<h1>Bar</h1>
<div class="bar">
    <div class="row">
        <div class="accordion-atelier">
            <ul class="tabs" data-responsive-accordion-tabs="accordion medium-tabs" id="example-tabs">
                <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">
                    <h4>Tab 1</h4>
                    <img src="http://via.placeholder.com/350x100" alt="img">
                    <p>Un texte est une série orale ou écrite de mots perçus comme constituant un ensemble cohérent, porteur de sens et utilisant les structures propres à une langue</p>
                    <p>Plus d'info</p>
                    <div class="arrow-up"></div>
                </a></li>
    
                <li class="tabs-title"><a href="#panel2">
                    <h4>Tab 2</h4>
                    <img src="http://via.placeholder.com/350x100" alt="img">
                    <p>Un texte est une série orale ou écrite de mots perçus comme constituant un ensemble cohérent, porteur de sens et utilisant les structures propres à une langue</p>
                    <p>Plus d'info</p>
                    <div class="arrow-up"></div>
                </a></li>
    
                <li class="tabs-title"><a href="#panel3">
                    <h4>Tab 3</h4>
                    <img src="http://via.placeholder.com/350x100" alt="img">
                    <p>Un texte est une série orale ou écrite de mots perçus comme constituant un ensemble cohérent, porteur de sens et utilisant les structures propres à une langue</p>
                    <p>Plus d'info</p>
                    <div class="arrow-up"></div>
                </a></li>
            </ul>
    
            <div class="tabs-content" data-tabs-content="example-tabs">
                <div class="tabs-panel is-active" id="panel1">
                    <p>one</p>
                    <p>Check me out! I'm a super cool Tab panel with text content!</p>
                </div>
                <div class="tabs-panel" id="panel2">
                    <p>two</p>
                    <p>Check me out! I'm a super cool Tab panel with text content!</p>
                </div>
                <div class="tabs-panel" id="panel3">
                    <p>three</p>
                    <p>Check me out! I'm a super cool Tab panel with text content!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}