{% load cms_tags menu_tags sekizai_tags %}
{% load sass_tags %}
{% load static %}

<!doctype html>
<html>
<head>
    <title>{% block title %}This is my new project home page{% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="{% sass_src 'css/scss/style.scss' %}" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> {% render_block "css" %}
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <style>
        body {
            background-image: url("{% static 'bg03.png' %}");
            background-size: cover;
        }
    </style>
</head>

<body>
    {% cms_toolbar %}
    <div class="container">
        <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
        <div class="title-bar" data-responsive-toggle="main-nav" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle></button>
            <div class="title-bar-title">Menu</div>
        </div>

        <div class="top-bar" id="main-nav">
            <div class="top-bar">
                <ul class="dropdown vertical medium-horizontal menu" data-dropdown-menu>
                    {% show_menu 0 100 100 100 %}
                </ul>
            </div>
        </div>
        {% block content %} {% endblock content %}

        <footer>
            <h4>FOOTER</h4>
        </footer>
    </div>

    <script type="text/javascript" src="{% static 'foundation-sites/dist/js/foundation.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'foundation-sites/js/foundation.core.js' %}"></script>
    <script type="text/javascript" src="{% static 'foundation-sites/js/foundation.util.motion.js ' %}"></script>
    <script type="text/javascript" src="{% static 'foundation-sites/dist/js/plugins/foundation.orbit.js' %}"></script>
    <script type="text/javascript" src="{% static 'foundation-sites/dist/js/plugins/foundation.accordion.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'foundation-sites/js/foundation.tabs.js' %}"></script>
    <script type="text/javascript" src="{% static 'foundation-sites/dist/js/plugins/foundation.responsiveAccordionTabs.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $(document).foundation();

            if (Foundation.MediaQuery.is('large')) {
                $('.services-animate').addClass('is-animating');
            }

            $('#return-to-top').click(function () { // When arrow is clicked
                $('body,html').animate({
                    scrollTop: 0 // Scroll to top of body
                }, 500);
            });
        });
    </script>
    {% render_block "js" %}
</body>
</html>