{% load cms_tags menu_tags sekizai_tags %} {% load sass_tags %} {% load static %}
<!doctype html>
<html>

<head>
    <title>{% block title %}This is my new project home page{% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="{% sass_src 'css/scss/style.scss' %}" rel="stylesheet" type="text/css" /> {% render_block "css" %}
</head>

<body>
    {% cms_toolbar %}
    <div class="container">
        <div class="title-bar" data-responsive-toggle="main-nav" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle></button>
            <div class="title-bar-title">Menu</div>
        </div>

        <div class="top-bar" id="main-nav">
            <div class="top-bar-left">
                <ul class="dropdown vertical medium-horizontal menu" data-dropdown-menu>
                    <li class="menu-text">L'Atelier</li>
                    {% show_menu 0 100 100 100 %} 
                </ul>
            </div>
        </div>
        {% block content %}{% endblock content %}
    </div>
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'foundation-sites/dist/js/foundation.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $(document).foundation();
        });
    </script>
    {% render_block "js" %}
</body>

</html>