{% extends "base.html" %} 
{% load cms_tags sekizai_tags %} 
{% load static %} 
{% block title %} {% page_attribute "page_title" %} {% endblock title %} 
{% block content %}
<div class="home">
    <h1>Bar L'Atelier</h1>
    <div class="row center">
        <div class="small-12 columns horaire-dynamique">
            <p>horaires dynamique</p>
        </div>

        <div class="small-12 medium-3 large-2 columns logo-img">
            <img src="{% static 'Logo_Atelier_Design.jpg' %}" alt="logo">
        </div>

        <div class="small-12 medium-3 large-6 columns services">
            <div class="row small-services-buttons">
                <div class="small-12 columns">
                    <a href="#" class="button success">Button 1</a>
                </div>
                <div class="small-12 columns">
                    <a href="#" class="button alert">Button 2</a>
                </div>
                <div class="small-12 columns">
                    <a href="#" class="button">Button 3</a>
                </div>
            </div>

            <div class="row align-spaced services-animate">
                <div class="large-4 colums" id="bar">
                    <a href="">
                        <h4>Le Bar</h4>
                        Et quia Montius inter dilancinantium manus spiritum efflaturus Epigonum.
                    </a>
                </div>
                <div class="large-4 colums" id="atelier">
                    <h4>L'Atelier</h4>
                    Et quia Montius inter dilancinantium manus spiritum efflaturus Epigonum.
                </div>
                <div class="large-4 colums" id="lieu-de-vie">
                    <h4>Evénements</h4>
                    Et quia Montius inter dilancinantium manus spiritum efflaturus Epigonum.
                </div>
            </div>
        </div>

        <div class="small-12 medium-6 large-4 columns evenements">
            <p>Evènements à venir</p>
        </div>
    </div>
</div>
{% endblock content %}