/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
// PAGES

    .title-bar {
        display: none;
    }
    // HOME CSS
    .home {
        .evenements {
            text-align: center;
        }
    }

    // BAR CSS
    .bar {
        #snack_bar {
            h2 {
                line-height: 84px;
            }
        }
    }
    
}
