/* Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .title-bar {
        display: none;
    }
    .home {
        .services-animate {
            display: none;
        }
        .small-services-buttons {
            a {
                width: 100%;
            }
        }
        .evenements {
            text-align: center;
        }
    }
}
