// VARIABLES
$rouge-atelier: #ff2601;
$bleu-atelier: #3E4C8E;
$vert-atelier: #9FC65E;
$jaune-atelier: #EE9F3F;

$rouge-atelier-transparent: rgba(255, 35, 1, 0.4);
$bleu-atelier-transparent: rgba(62, 78, 142, 0.4);
$vert-atelier-transparent: rgba(160, 198, 94, 0.4);
$jaune-atelier-transparent: rgba(238, 156, 63, 0.4);

$white-atelier-transparent-small: rgba(255, 255, 255, 0.8);
