@import 'static/bower_components/foundation-sites/assets/foundation.scss';
@include foundation-flex-classes;
@include foundation-flex-grid;
@import 'static/bower_components/motion-ui/motion-ui.scss';
@include motion-ui-transitions;
@include motion-ui-animations;
@import "static/bower_components/foundation-sites/scss/components/_accordion.scss";
@import "variables";
@import "animations";
@import "small";
@import "medium";
$breakpoints: ( small: 0px, medium: 40em, large: 64em, );
// ALL CSS
body {
    background-image: url(../atelier/media/images/bg01.jpg);
    background-size: cover;
}

h1 {
    color: grey;
    text-align: center;
}


// BAR CSS
.bar {
    h3 {
        text-align: center;
        text-transform: capitalize;
        color: #575652;
    }
}

.atelier {
    h3 {
        text-align: center;
        text-transform: capitalize;
        color: #575652;
    }
}


/* Medium and up */

@media screen and (min-width: 40em) {
    .bar {
        .accordion-atelier {
            .tabs {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .tabs-title {
                    width: 33.339%;
                    margin: 0.5em;
                    a {
                        padding-bottom: 0;
                        outline: 0;
                    }
                }
                #snack_bar.is-active {
                    box-shadow: 0px 1px 5px 2px #ff2601;
                    border-bottom: solid 3px #ff2601;
                    .arrow-up {
                        width: 0;
                        margin: 0 auto;
                        height: 0;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-bottom: 15px solid #ff2601;
                    }
                }
                #jeux_de_societe.is-active {
                    box-shadow: 0px 1px 5px 2px #9FC65E;
                    border-bottom: solid 3px #9FC65E;
                    .arrow-up {
                        width: 0;
                        margin: 0 auto;
                        height: 0;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-bottom: 15px solid #9FC65E;
                    }
                }
                #realite_virtuelle.is-active {
                    box-shadow: 0px 1px 5px 2px #3E4C8E;
                    border-bottom: solid 3px #3E4C8E;
                    .arrow-up {
                        width: 0;
                        margin: 0 auto;
                        height: 0;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-bottom: 15px solid #3E4C8E;
                    }
                }
                #snack_bar {
                    h3 {
                        span {
                            background-color: #FF2601;
                            padding: 0 0.15em;
                            color: white;
                            border-radius: 5px;
                        }
                    }
                    img {
                        width: 100%;
                    }
                }
                #jeux_de_societe {
                    h3 {
                        span:first-of-type {
                            background-color: #9FC65E;
                            padding: 0 0.25em;
                            color: white;
                            border-radius: 5px;
                        }
                        span:last-of-type {
                            text-transform: lowercase;
                        }
                    }
                    img {
                        width: 100%;
                    }
                }
                #realite_virtuelle {
                    h3 {
                        span {
                            background-color: #3E4C8E;
                            padding: 0 0.2em;
                            color: white;
                            border-radius: 5px;
                        }
                    }
                    img {
                        width: 100%;
                    }
                }
            }
            .tabs-content {
                width: 100%;
                .is-active {
                    // @include mui-animation(slide($direction: bottom, $amount: 100%));
                    // animation-duration: 2s;
                    @include mui-hinge(
                        $state: in,
                        $from: left,
                        $axis: center,
                        $perspective: 2000px,
                        $turn-origin: from-back
                      );
                }
            }
        }
    }

    .atelier {
        .accordion-atelier {
            .tabs {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .tabs-title {
                    width: 33.339%;
                    margin: 0.5em;
                    a {
                        padding-bottom: 0;
                        outline: 0;
                    }
                }
                #impression_3d.is-active {
                    box-shadow: 0px 1px 5px 2px #ff2601;
                    border-bottom: solid 3px #ff2601;
                    .arrow-up {
                        width: 0;
                        margin: 0 auto;
                        height: 0;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-bottom: 15px solid #ff2601;
                    }
                }
                #atelier_formation.is-active {
                    box-shadow: 0px 1px 5px 2px #9FC65E;
                    border-bottom: solid 3px #9FC65E;
                    .arrow-up {
                        width: 0;
                        margin: 0 auto;
                        height: 0;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-bottom: 15px solid #9FC65E;
                    }
                }
                #coworking.is-active {
                    box-shadow: 0px 1px 5px 2px #3E4C8E;
                    border-bottom: solid 3px #3E4C8E;
                    .arrow-up {
                        width: 0;
                        margin: 0 auto;
                        height: 0;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-bottom: 15px solid #3E4C8E;
                    }
                }
                #impression_3d {
                    h3 {
                        span {
                            background-color: #FF2601;
                            padding: 0 0.15em;
                            color: white;
                            border-radius: 5px;
                        }
                    }
                    img {
                        width: 100%;
                    }
                }
                #atelier_formation {
                    h3 {
                        span {
                            background-color: #9FC65E;
                            padding: 0 0.25em;
                            color: white;
                            border-radius: 5px;
                        }
                    }
                    img {
                        width: 100%;
                    }
                }
                #coworking {
                    h3 {
                        span {
                            background-color: #3E4C8E;
                            padding: 0 0.2em;
                            color: white;
                            border-radius: 5px;
                        }
                    }
                    img {
                        width: 100%;
                    }
                }
            }
            .tabs-content {
                width: 100%;
                .is-active {
                    // @include mui-animation(slide($direction: bottom, $amount: 100%));
                    // animation-duration: 2s;
                    @include mui-hinge(
                        $state: in,
                        $from: left,
                        $axis: center,
                        $perspective: 2000px,
                        $turn-origin: from-back
                      );
                }
            }
        }
    }
}


/* Large and up */

@media screen and (min-width: 64em) {
    // BASE CSS
    .small-services-buttons {
        display: none;
    }
    .title-bar {
        display: none;
    }
    .top-bar {
        padding: 0;
        height: 8vh
    }
    // HOME CSS
    .home {
        width: 100%;
        height: 82vh;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
        .center {
            margin-top: 10vh;
            .horaire-dynamique {
                @include mui-animation(fade);
                animation-duration: 3s;
                text-align: center;
            }
            .logo-img {
                @include mui-animation(slide($direction: right, $amount: 120%));
                animation-duration: 2s;
                background-color: gray;
                border: solid 2px blue;
            }
            .services {
                @include mui-animation(slide($direction: top, $amount: 120%));
                animation-duration: 2s;
                background-color: gray;
                border: solid 2px blue;
                padding: 0.9375rem;
                .services-animate {
                    div {
                        text-align: center
                    }
                }
            }
            .evenements {
                @include mui-animation(slide($direction: left, $amount: 120%));
                animation-duration: 2s;
                background-color: gray;
                border: solid 2px blue;
                display: flex;
                justify-content: space-around;
            }
        }
    }
    .home+footer {
        height: 10vh;
        text-align: center;
        background-color: grey;
    }
    // ACCUEIL
    .image-slider {
        width: 60%;
    }
    // BAR CSS
    .accordion-atelier {
        width: 1000%;
        margin: auto;
        margin-top: 1em;
    }
    // CONTACT CSS
}


/* Large only */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}